version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: always

  app:
    build: .
    container_name: agentflow-app
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    volumes:
      - ./vector_index:/app/vector_index
      - ./knowledge:/app/knowledge
    restart: always

volumes:
  ollama_data: